Service Documentation
https://waterservices.usgs.gov/rest/DV-Test-Tool.html

Example URL:
http://waterservices.usgs.gov/nwis/dv/?format=rdb&sites=02089000&startDT=2010-10-01&endDT=2017-09-30&statCd=00003&parameterCd=00060&siteStatus=all

In [1]:
#Import libraries
import requests
import pandas as pd
import io

In [2]:
#Set site, parameter, and stat codes
siteNo = '02089000'
pcode = '00060'
scode = '00003'

In [3]:
#Set start and end dates
startDate = '1930-10-01'
endDate = '2017-09-03'

In [4]:
#Set the service (dv = daily values)
serv = 'dv'

In [5]:
#Construct the service URL and parameters
url =  'http://waterservices.usgs.gov/nwis/{}'.format(serv)
params = {'sites':siteNo,
          'parameterCd':pcode,
          'statCd':scode,
          'startDT':startDate,
          'endDT':endDate,
          'format':'rdb',
          'siteStatus':'all'
         }

In [6]:
#Send the requests and translate the response
response_raw = requests.get(url,params)
response_clean = response_raw.content.decode('utf-8')

In [7]:
#Set skip rows
rowsToSkip = list(range(29))
#Append '51' to the list
rowsToSkip.append(30)

In [8]:
#Convert the data into a data frame
df = pd.read_csv(io.StringIO(response_clean),
                 skiprows=rowsToSkip,    #Skip lines starting with a comment '#'
                 delimiter='\t') #Tab delimited

In [9]:
#Display the first 5 rows
df.head()

  agency_cd  site_no    datetime  85342_00060_00003 85342_00060_00003_cd
0      USGS  2089000  1930-10-01              210.0                    A
1      USGS  2089000  1930-10-02              188.0                    A
2      USGS  2089000  1930-10-03              200.0                    A
3      USGS  2089000  1930-10-04              200.0                    A
4      USGS  2089000  1930-10-05              200.0                    A

In [10]:
#Rename the last two fields
df.rename(columns={'85342_00060_00003':'discharge','85342_00060_00003_cd':'Confidence'},inplace=True)
df.head()

  agency_cd  site_no    datetime  discharge Confidence
0      USGS  2089000  1930-10-01      210.0          A
1      USGS  2089000  1930-10-02      188.0          A
2      USGS  2089000  1930-10-03      200.0          A
3      USGS  2089000  1930-10-04      200.0          A
4      USGS  2089000  1930-10-05      200.0          A

In [11]:
df.dtypes

agency_cd      object
site_no         int64
datetime       object
discharge     float64
Confidence     object
dtype: object

In [12]:
#Save to a csv file
df.to_csv('GageData.csv',index=False)